testng.dtd

<!ELEMENT suite (test)>
<!ATTLIST suite name NMTOKEN #REQUIRED>
<!ELEMENT test (classes)>
<!ATTLIST test name NMTOKEN #REQUIRED>
<!ELEMENT classes (class)>
<!ELEMENT class (methods)>
<!ATTLIST class name NMTOKEN #REQUIRED>
<!ELEMENT methods (include)>
<!ELEMENT include EMPTY>
<!ATTLIST include name NMTOKEN #REQUIRED>